<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1039027435930-qc9br5hl9ou9eaj106h6rju2juest8d2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1039027435930-qc9br5hl9ou9eaj106h6rju2juest8d2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1039027435930-q4363f3caiv35jgfuomdvpg86cmg51qf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCNEakZeUC99F0AxGZjxmf7E5b0EGy947M</string>
	<key>GCM_SENDER_ID</key>
	<string>1039027435930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.demo.lybertineApp</string>
	<key>PROJECT_ID</key>
	<string>lybertin-app</string>
	<key>STORAGE_BUCKET</key>
	<string>lybertin-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039027435930:ios:a3c5c4fd9e08405f0fa223</string>
</dict>
</plist>